@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');



html {
    font-family: 'Inter';
    font-weight: 400 ;
}
table, td {
    border: 5px solid black;
}
td {
padding: 9px 50px;
}

table {
border-collapse: collapse;
}
